*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  }
  
  .navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:12px 4%;
  
  display:grid;
  grid-template-columns:
  40px 1fr auto 1fr auto;
  
  align-items:center;
  
  z-index:1000;
  transition:all .4s ease;
  }
  
  /* SCROLL EFFECT */
  
  .navbar.scrolled{
  
  padding:8px 4%;
  
  background:rgba(255,255,255,.92);
  
  backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);
  
  border-bottom:1px solid rgba(0,0,0,.06);
  
  box-shadow:
  0 5px 20px rgba(0,0,0,.08);
  
  }
  
  /* MENU */
  
  .menu-icon{
  display:flex;
  flex-direction:column;
  gap:5px;
  cursor:pointer;
  }
  
  .menu-icon span{
  width:22px;
  height:2px;
  background:#111;
  transition:.4s;
  }
  
  /* LEFT LINKS */
  
  .left-links{
  display:flex;
  justify-content:flex-end;
  gap:20px;
  padding-right:30px;
  }
  
  /* RIGHT LINKS */
  
  .right-links{
  display:flex;
  justify-content:flex-start;
  gap:20px;
  padding-left:30px;
  }
  
  /* LINKS */
  
  .nav-links a{
  text-decoration:none;
  color:#111;
  font-size:11px;
  font-weight:500;
  letter-spacing:1.5px;
  transition:.4s;
  white-space:nowrap;
  }
  
  .nav-links a:hover{
  color:#d4af37;
  }
  
  /* CENTER LOGO */
  
  .nav-logo{
  display:flex;
  justify-content:center;
  align-items:center;
  }
  
  .nav-logo img{
  width:100px;
  transition:.4s;
  object-fit:contain;
  }
  
  .navbar.scrolled .nav-logo img{
  width:85px;
  }
  
  /* BUTTON */
  
  .book-btn{
  padding:8px 18px;
  
  border-radius:30px;
  
  background:transparent;
  
  border:1px solid #d4af37;
  
  color:#111;
  
  font-size:11px;
  font-weight:500;
  
  letter-spacing:1px;
  
  cursor:pointer;
  transition:.4s;
  }
  
  .book-btn:hover{
  background:#d4af37;
  color:white;
  }
  
  /* MOBILE */
  
  @media(max-width:992px){
  
  .left-links,
  .right-links,
  .book-btn{
  display:none;
  }
  
  .navbar{
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
  }
  
  .nav-logo img{
  width:85px;
  }
  
  }
  
  @media(max-width:576px){
  
  .menu-icon span{
  width:20px;
  }
  
  .nav-logo img{
  width:75px;
  }
  
  }